@import "tailwindcss";

:root {
  --background: #FFFFFF;
  --foreground: #171717;
  --theme-orange: #F46700;
  --primary: #F46700;
  --bg-cream: #fdf6ea;
  --bg-light-cream: #f4ecdc;
  --text-dark: #4A4A4A;
  --border-light: #E0E0E0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-theme-orange: var(--theme-orange);
  --color-bg-cream: var(--bg-cream);
  --color-bg-light-cream: var(--bg-light-cream);
  --color-text-dark: var(--text-dark);
  --color-border-light: var(--border-light);
}

body {
  font-family: system-ui, -apple-system, sans-serif;
}



.vertical-text {
  writing-mode: vertical-lr;
  font-size: 24px;
  letter-spacing: 2px;
  rotate: 180deg;
}


.swiper-pagination-bullet-active-custom {
  background: var(--primary) !important;
}

.swiper-slide {
  height: unset !important;
}