@import "tailwindcss";

:root {
  --background: #FFFFFF;
  --foreground: #171717;
  --theme-orange: #F46700;
  --primary: #F46700;
  --bg-cream: #fdf6ea;
  --text-dark: #4A4A4A;
  --border-light: #E0E0E0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-theme-orange: var(--theme-orange);
  --color-bg-cream: var(--bg-cream);
  --color-text-dark: var(--text-dark);
  --color-border-light: var(--border-light);
}

body {
  font-family: system-ui, -apple-system, sans-serif;
}

