@import "tailwindcss";

:root {
  --background: #FFFFFF;
  --foreground: #171717;
  --theme-orange: #F46700;
  --primary: #F46700;
  --light-primary: #e69052;
  --bg-cream: #fdf6ea;
  --bg-light-cream: #f4ecdc;
  --text-dark: #4A4A4A;
  --border-light: #E0E0E0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-theme-orange: var(--theme-orange);
  --color-bg-cream: var(--bg-cream);
  --color-bg-light-cream: var(--bg-light-cream);
  --color-text-dark: var(--text-dark);
  --color-border-light: var(--border-light);
}

body {
  font-family: system-ui, -apple-system, sans-serif;
}



.vertical-text {
  writing-mode: vertical-lr;
  font-size: 24px;
  letter-spacing: 2px;
  rotate: 180deg;
}


.swiper-pagination-bullet-active-custom {
  background: var(--primary) !important;
}

.swiper-slide {
  height: unset !important;
}

.download-app-bg {
  background:
    linear-gradient(90deg,
      #F46700 0%,
      rgba(244, 103, 0, 0.95) 35%,
      rgba(244, 103, 0, 0.6) 55%,
      rgba(244, 103, 0, 0.25) 70%,
      rgba(244, 103, 0, 0) 100%),
    url("/images/downloadSection/downloadBgImg.png");

  background-size: contain;
  background-position: right center;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {

  .download-app-bg {
    background: rgba(244, 103, 0, 0.95)
  }
}

.contact-form-section-gradient {

  background:
    linear-gradient(360deg,
      #fdf6ea 0%,
      #fdf6ea 35%,
      #fdf6ea 55%,
      white 70%);
  background-size: contain;
  background-position: right center;
  background-repeat: no-repeat;

}