@import "tailwindcss";

:root {
  --background: #FFFFFF;
  --foreground: #171717;
  --theme-orange: #F46700;
  --primary: #F46700;
  --light-primary: #e69052;
  --bg-cream: #fdf6ea;
  --bg-light-cream: #f4ecdc;
  --text-dark: #4A4A4A;
  --border-light: #E0E0E0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-theme-orange: var(--theme-orange);
  --color-bg-cream: var(--bg-cream);
  --color-bg-light-cream: var(--bg-light-cream);
  --color-text-dark: var(--text-dark);
  --color-border-light: var(--border-light);
}

body {
  font-family: system-ui, -apple-system, sans-serif;
}

/*  third party override css start */

.swiper-pagination-bullet-active-custom {
  background: var(--primary) !important;
}

.swiper-slide {
  height: unset !important;
}


.custom-swiper .swiper-pagination {
  position: relative !important;
  margin-top: 2rem !important;
  text-align: center !important;
}

.custom-swiper .swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  background: #e0e0e0;
  opacity: 1 !important;
  margin: 0 4px !important;
  transition: all 0.3s !important;
}

.custom-swiper .swiper-pagination-bullet-active {
  background: var(--primary);
  width: 32px !important;
  border-radius: 6px !important;
}

/*  third party override css end */


/*  linear gradient css start */

.download-app-bg {
  background:
    linear-gradient(90deg,
      #F46700 0%,
      rgba(244, 103, 0, 0.95) 35%,
      rgba(244, 103, 0, 0.6) 55%,
      rgba(244, 103, 0, 0.25) 70%,
      rgba(244, 103, 0, 0) 80%,
      rgba(244, 103, 0, 0.25) 90%,
      rgba(244, 103, 0, 0.6) 100%);
  background-size: contain;
  background-position: right center;
  background-repeat: no-repeat;
}



.contact-form-section-gradient {
  background:
    linear-gradient(360deg,
      #fdf6ea 0%,
      #fdf6ea 35%,
      #fdf6ea 55%,
      white 70%);
  background-size: contain;
  background-position: right center;
  background-repeat: no-repeat;
}

.home-service-section-bg {
  background: linear-gradient(to bottom,
      rgba(253, 246, 234, 0) 0%,
      rgba(253, 246, 234, 0.6) 30%,
      #fdf6ea 60%,
      #fdf6ea 100%);
}

.header-bottom-bg {
  background: linear-gradient(to top,
      rgba(253, 246, 234, 0) 0%,
      rgba(253, 246, 234, 0.6) 90%,
      #fdf6ea 100%);
}

/*  linear gradient css end */


/*  media query start */
@media (max-width: 1200px) {
  .download-app-bg {
    background: rgba(244, 103, 0, 0.95)
  }
}

@media (min-width: 768px) {
  .vertical-text {
    writing-mode: vertical-lr;
    font-size: 24px;
    letter-spacing: 2px;
    rotate: 180deg;
  }
}

/*  media query end */